<div class="conainer-fluid">
  <nav class="navbar  trans row">
    <div class="col-sm-4"></div>
    <div>

      <h1 class="align-middle"> Welcome Book Read Collection </h1>

    </div>
    <div class="col-sm-4"></div>
  </nav>
</div>

<div class="container marginTop ">

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="card text-center trans">
      <div class="card-header ">
        <h5 class="card-title">Welcome! Please Enter Username and Password</h5>
      </div>
      <div class="card padding trans">

        <form class="loginForm">

          <div class="form-group ">
            <label for="signinUsername">Username </label>
            <input type="email" class="form-control" id="signinUsername" aria-describedby="emailHelp">

          </div>
          <div class="form-group">
            <label for="signinPassword">Password</label>
            <input type="password" class="form-control" id="signinPassword">
          </div>

          <button id="loginButton" type="submit" class="btn btn-primary">Submit</button>
          
        </form>
          
            <div>
              <br>
              <a href="" data-toggle="modal" data-target="#exampleModalCenter">
                                New User
                            </a>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">New User</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                            
                                              <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                                            </div>
                                            <input id ="userName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                          </div>
                                          <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Password &nbsp;</span>
                                            </div>
                                            <input id = "password" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                          </div>
                                          <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                                            </div>
                                            <input id = "firstName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                          </div>
                                          <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="inputGroup-sizing-default">Last name &nbsp;</span>
                                            </div>
                                            <input id = "lastName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                          </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button id="newUserSubmit" type="button" class="btn btn-primary">Create User</button>
                                    </div>
                                                                          
                                  </div>
                                </div>
                              </div>
            </div>
            <div>
              <br>
              <a href="">Forgot password</a>
            </div>


      </div>
      <div class="col-sm-4"></div>

    </div>

  </div>
