<div class="header-div">
  <h1>Book Reading List</h1>
  <p>With MySql, Express, & Handlebars</p>
  <img src="/img/burger.png" />
</div>


<div class="form-div">
 
  <h2>Create a new burger</h2>
  <form class="burger-form">

    <div class="form-group">
      <label for="burger-input">New Burger</label>
      <input type="text" id="burger-input" name="name">
    </div>

    <button type="submit">Add Burger</button>
  </form> 
  
</div>